
/*
*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    min-width:100vw;
    height: 500px;
}
.container div{
    height: 400px;
    margin: 0px auto 10px;
    text-align: center;
    font-size: 2em;
    border: 2px solid red;
background: linear-gradient(to left, hsla(0, 50%, 100%, 0.5), hsla(240, 100%, 30%, 0.5)), 
      url('img/WhatsApp\ Image\ 2024-10-18\ at\ 20.00.12.jpeg') center/cover no-repeat fixed;
    padding: 50px;
    text-align: center;
    color: white;
}*/

ol{
    list-style-type: upper-none;
}
ul{
    list-style: none;
}